body, textarea, .btnEncriptar, .btnDesencriptar{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    color: #0A3871;
    background-color: #E9ECF8;
}      

.logo{
width: 120px;
height: 48px;
padding: 40px;
}

.textoOriginal{
    font-size: 32px;
    resize: none;
    border:none;
    text-transform: lowercase;
    margin-left:227px;
}
::placeholder{
    .textoOriginal:focus{
        outline:none;
    }
}

.botones{
    display: flex;
    width: Fixed (680px)px;
    height: Hug (67px)px;
    position: absolute;
    top: 870px;
    left: 240px;
    gap: 24px;
}
  
.btnEncriptar{
    border: 1px solid #0A3871;
    border-radius: 20px;
    background-color:#0A3871;
    width: 328px;
    height: 67px;
    font-size: 20px; color:#E9ECF8
}

.btnDesencriptar{
    border: 1px solid #0A3871;
    border-radius: 20px;
    background-color:lightblue;
    width: 328px;
    height: 67px; 
    font-size: 20px;
}

.informacion{
    width: 265px;
    height: 18px;
    position: absolute;
    top: 840px;
    left: 240px;
}

.mensaje{
    background-color: #FFFFFF;
    background-image: url(imagenes/Muñeco.png);
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    border-radius: 24px;
    position:absolute;
    top: 89px;
    left: 1032px;
    width:336px;
    height:850px;
    resize: none;

.mensaje:focus {
    outline:none;}
}

.mensaje::placeholder{
    font-size: 23px;
    font-weight: bold;
    position:absolute;
    top:600px;
    text-align: center;
}

footer{
    background-image:url(imagenes/fondo-flor.jpg);
    padding:40px;
    position:absolute;
    top:1000px;
    width:100%
}

.nombre{
    text-align: center; 
    font-size: 35px; 
    color:purple;
    font-weight: bold;
}



